In [28]:
import pandas as pd
import datetime as datetime

In [29]:
df_trip=pd.read_csv('./trip.csv',error_bad_lines=False)
df_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [30]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

# What is the average trip duration for a borrowed bicycle?

In [31]:
avg_trip=df_trip["tripduration"].mean()
avg_trip

1178.2956753399776

# Whatâ€™s the most common age of a bicycle-sharer?

In [32]:
common_age=df_trip["birthyear"].value_counts().idxmax()

mode_age = datetime.datetime.now().year-int(common_age)
mode_age

34

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [33]:
weather_data=pd.read_csv('./weather.csv',parse_dates=["Date"])
weather_data

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2016-08-27,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,2016-08-28,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,2016-08-29,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,2016-08-30,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,2016-08-31,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [34]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    datetime64[ns]
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(13), object(2)
memory usage: 113.2+ KB

In [35]:
date=weather_data["Date"]
weather_data['month'] = pd.DatetimeIndex(date).month
weather_data['month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: month, Length: 689, dtype: int64

In [36]:
weather=weather_data.groupby('month')['Precipitation_In']
weather_avg=weather.mean()
weather_avg

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

# Whatâ€™s the average number of bikes at a given bike station?

In [37]:
df_station=pd.read_csv('./station.csv')
median_pr=df_station["install_dockcount"].mean()
median_pr

17.586206896551722

# When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [38]:
x=df_station[["modification_date","install_dockcount"]].dropna()
y=x["install_dockcount"].sum()- df_station["install_dockcount"].sum()
y

-722

# Come up with 3 more questions that can be answered with this data set.

In [39]:
df_trip1=df_trip[["tripduration","gender"]].dropna()
fff= df_trip1.groupby("gender")['tripduration'].mean()
fff

gender
Female    706.723239
Male      564.880833
Other     613.347563
Name: tripduration, dtype: float64

In [40]:
weather_data['Year'] = pd.DatetimeIndex(date).year
weather_data.groupby("Year")["Max_Temperature_F"].max()
Max_temp=weather_data.groupby("Year")["Max_Temperature_F"].max()
Max_temp

Year
2014    73
2015    98
2016    95
Name: Max_Temperature_F, dtype: int64

In [41]:
df_trip2=df_trip[["tripduration","birthyear","gender"]].dropna()
highest_d=df_trip2.groupby(["birthyear","gender"])['tripduration'].max()
highest_d

birthyear  gender
1931.0     Female    1817.524
1936.0     Male      1530.681
1939.0     Male      6482.742
1942.0     Male       622.731
1943.0     Male      1686.795
                       ...
1997.0     Male      4170.919
1998.0     Female    2251.862
           Male      4745.422
1999.0     Female    1537.079
           Other      655.493
Name: tripduration, Length: 135, dtype: float64

In [42]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip, 1178.2956753399776)
    assert_equal(y, -722)
    assert_equal(median_pr, 17.586206896551722)
    assert_equal(weather_data.iloc[9].month, 10)
    assert_equal(fff['Female'], 706.7232394441183)
    assert_equal(weather_avg[9], 0.04100000000000001)
    assert_equal(mode_age, 34)

    print("Success!!!")

test()

Success!!!